.werp-mian{
    background: url(../imgs/years1969/1969_bg@2x.png)no-repeat center;
    background-size: 100% 100%;
}
.btn-next>button{
    display: inline-block;
    width: 36%;
    height: 60%;
}
.btn-before{
    background: url(../imgs/10年前.png)no-repeat center;
    background-size: 100% 100%;
}
.btn-before:hover, .btn-before:visited{
    background: url(../imgs/10年前_按下.png)no-repeat center;
    background-size: 100% 100%;
}
.btn-after{
    background: url(../imgs/10年后.png)no-repeat center;
    background-size: 100% 100%;
}
.btn-after:hover, .btn-after:visited{
    background: url(../imgs/10年后_按下.png)no-repeat center;
    background-size: 100% 100%;
}
.time-wz{
    position: absolute;
    top: 11%;
    left: 37%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 59%;
    height: 14%;
    background: url(../imgs/years1969/60@2x.png)no-repeat center;
    background-size: 100% 100%;
    animation: degs 1s linear;
}
.rocket{
    position: absolute;
    left: 51%;
    bottom: 0%;
    transform: translate(-50%, -4%);
    width: 15%;
    height: 52%;
    background: url(../imgs/years1969/火箭@2x.png)no-repeat center;
    background-size: 100% 100%;
    animation: rises 3s 1s linear;
}
.fire{
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background: url(../imgs/years1969/火焰@2x.png)no-repeat center;
    background-size: 100% 100%;
    z-index: 1;
    animation: draw 2s linear;
}
.dfh{
    position: absolute;
    left: 2%;
    top: 21%;
    width: 77%;
    height: 24%;
    background: url(../imgs/years1969/东方红@2x.png)no-repeat center;
    background-size: 100% 100%;
    animation: welks 2s 1s linear;
}
.Detector{
    position: absolute;
    right: 0%;
    top: 44%;
    width: 52%;
    height: 22%;
    background: url(../imgs/years1969/探测仪@2x.png)no-repeat center;
    background-size: 100% 100%;
    z-index: 3;
    animation: welksD 2s 1s linear;
}
/* 火箭上升消失 */
@keyframes rises{
    0%{
        transform: translate(-66%, 0%);

        opacity: 1;
    }
    90%{
        transform: translate(-66%, -200%);
        opacity: 0.9
    }
    to{
        transform: translate(-66%, -200%);
        opacity: 0;
    }
}
/* 火焰渐渐消失向上拉伸 */
@keyframes draw {
    0%{
        transform: scale(1);
        animation-timing-function: ease-in-out;
    }
    60%{
        transform: scale(0.9);
        animation-timing-function: ease-in-out;
    }
    100%{
        transform: scale(2);
        animation-timing-function: ease-in-out;
    }
}
/* 左至右*/
@keyframes welks{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes welksD{
    0%{
        transform: translateX(100%);
        visibility: hidden;
    }
    100%{
        transform: translateX(0%);
        visibility: visible;
    }
}
